<div style="height: 100%;width:100%;">
  <div class="gantt-demo-header">
    <div style="width:50%">
      <span>
        Key Milestone
      </span>
    </div>
    <div style="width:10%">
      <span style="color:green">
        &#9608;
      </span>
      <span>Passed</span>
    </div>
    <div style="width:10%">
      <span style="color:red">
        &#9608;
      </span>
      <span>Failed</span>
    </div>
    <div style="width:15%">
      <span style="color:grey">
        &#9608;
      </span>
      <span>ReportDone/Finished</span>
    </div>
    <div style="width:10%">
      <span style="color:yellow">
        &#9608;
      </span>
      <span>Plan</span>
    </div>
    <div style="width:10%">
      <span style="color:orange">
        &#9608;
      </span>
      <span>On Going</span>
    </div>
    
  </div>
  <!-- <div style="margin-bottom: 0px;">
    <ngx-gantt [items]="subitems" 
    [viewType]="options.viewType"
    [draggable]="options.draggable"
    [linkable]="options.linkable"
    [async]="options.async"
    (barClick)="barClick($event)"
    (lineClick)="lineClick($event)"
    (dragEnded)="dragEnded($event)"
    (loadOnScroll)="loadOnScroll($event)">
      <ngx-gantt-table>
        <ngx-gantt-column width="200px">
          <ng-template #header> <span ></span> </ng-template>
          <ng-template #cell let-item="item">
            {{ item.id }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column width="180px">
          <ng-template #header> <span></span> </ng-template>
          <ng-template #cell let-item="item">
            {{ item.title }}
          </ng-template>
        </ngx-gantt-column>
      </ngx-gantt-table>
    </ngx-gantt>
  </div> -->
  <div class="gantt-demo-content" style="height: auto;">
    <ngx-gantt
      #gantt
      [start]=""
      [end]=""
      [groups]="groups"
      [items]="items"
      [viewType]="options.viewType"
      [draggable]="options.draggable"
      [linkable]="options.linkable"
      [async]="options.async"
      (doubleClick)="doubleClick($event)"
      (lineClick)="lineClick($event)"
      (dragEnded)="dragEnded($event)"
      (loadOnScroll)="loadOnScroll($event)"
    >
      <ngx-gantt-table (columnChanges)="columnChanges($event)">
        <ngx-gantt-column width="180px">
          <ng-template #header> <span>序号</span> </ng-template>
          <ng-template #cell let-item="item">
            {{ item.id}}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="标题" width="120px">
          <ng-template #cell let-item="item">
            {{ item.title }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column width="180px">
          <ng-template #header> <span>开始时间</span> </ng-template>
          <ng-template #cell let-item="item">
            {{ item.start * 1000 | date: 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
        <ngx-gantt-column name="截止时间">
          <ng-template #cell let-item="item">
            {{ item.end * 1000 | date: 'yyyy-MM-dd' }}
          </ng-template>
        </ngx-gantt-column>
      </ngx-gantt-table>
    </ngx-gantt>
  </div>  
</div>
