<ngx-gantt-root [sideWidth]="300">
  <ng-template #sideTemplate>
    <div class="gantt-flat-side-header">项目</div>
    <div class="gantt-flat-side-body">
      <div class="gantt-group" *ngFor="let group of groups; trackBy: trackBy">
        <div class="gantt-group-content" [style.height.px]="group.mergedItems?.length * (styles.lineHeight + 10) - 10">
          {{ group.title }}
        </div>
      </div>
    </div>
    <!-- <ng-template *ngFor="let group of groups; trackBy: trackBy"> -->

    <!-- <table>
        <thead>
          <tr>
            <td>ID</td>
            <td>title</td>
            <td>start</td>
            <td>group id</td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let group of groups; trackBy: trackBy">
            <tr *ngFor="let item of group.items">
              <td>{{item.origin.id}}</td>
              <td>{{item.origin.title}}</td>
              <td>{{item.origin.start}}</td>
              <td>{{item.origin.group_id}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table> -->
    <!-- </ng-template> -->
  </ng-template>
  <ng-template #mainTemplate>
    <div class="gantt-main-container" #ganttMainContainer cdkDropListGroup>
      <!-- groups -->
      <div class="gantt-main-groups" *ngIf="groups && groups.length > 0" [style.width.px]="view.width">
        <ng-container *ngFor="let group of groups; trackBy: trackBy; let i = index">
          <!-- list -->
          <div
            class="gantt-main-group"
            [style.height.px]="group.mergedItems?.length * (styles.lineHeight + 10) - 10"
            cdkDropList
            [cdkDropListData]="group.mergedItems"
            (cdkDropListDropped)="drop($event)"
          >
            <ng-container *ngFor="let items of group.mergedItems">
              <div class="gantt-flat-items" [style.height.px]="styles.lineHeight">
                <ng-container *ngFor="let item of items; trackBy: trackBy">
                  <ngx-gantt-bar [item]="item" [template]="barTemplate" (barClick)="barClick.emit($event)"></ngx-gantt-bar>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <!-- 水平拖拽元素 -->
      <div
        class="drag-box"
        #dragBox
        [style.width.px]="view.width"
        cdkDrag
        cdkDragLockAxis="x"
        (cdkDragMoved)="mainMouseEnter($event)"
        (cdkDragStarted)="mainMouseDown($event)"
        (cdkDragEnded)="mainMouseUp($event)"
      >
        <ng-container *ngFor="let group of groups; trackBy: trackBy">
          <div class="gantt-main-group" [style.height.px]="group.mergedItems?.length * (styles.lineHeight + 10) - 10"></div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</ngx-gantt-root>
